.functions {
  padding-top: 0;
  background-color: var(--accent-color);
}

.functions__title {
  text-align: center;
  margin-bottom: 50px;  
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.functions__list {
  display: flex;
}

.functions__item {
  position: relative;

  &.functions__item:not(:last-child) {
  margin-right: 30px;
  }
}

.functions__image {
  width: 370px;
}

.functions__text {
  position: absolute;
  bottom: 0;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  height: 70px;
  text-transform: uppercase;
  color: var(--accent-color);
  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
