.header {
  border-bottom: 1px solid #ECECEC;
  background-color: var(--accent-color);  
}

.header__box {
  @media screen and (max-width: $pretablet) {
  display: none;
  } 

  @media screen and (min-width: $tablet) {
  display: flex;
  justify-content: center;
  align-items: center;
  }

  @media screen and (min-width: $desktop) {
  display: flex;
  justify-content: center;
  align-items: center;
  }
}

.site-nav {
  @media screen and (max-width: $pretablet) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: $tablet) {
  display: flex;
  align-items: center;
  justify-content: center;
  }

  @media screen and (min-width: $desktop) {
  display: flex;
  align-items: center;
  justify-content: center;
  }
}

.site-nav__link {
  @media screen and (max-width: $pretablet) {
  @include font-style(var(--main-font), 500, 40px, 1.2, 0.02em);   
  margin-bottom: 32px;
  padding-top: 0;
  position: relative;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
  }

  @media screen and (min-width: $tablet) {
  @include font-style(var(--main-font), 500, 14px, 1.14, 0.02em);  
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (min-width: $desktop) {
  @include font-style(var(--main-font), 500, 14px, 1.14, 0.02em);  
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.site-nav__link:not(:last-child) {
  @media screen and (max-width: $pretablet) {
  margin-right: 0;
  }

  @media screen and (min-width: $tablet) {
  margin-right: 50px; 
  }

  @media screen and (min-width: $desktop) {
  margin-right: 51px; 
  }
}

.site-nav__link:last-child {
  @media screen and (max-width: $pretablet) {
  margin-right: 0;
}

  @media screen and (min-width: $tablet) {
  margin-right: 96px;
  }

  @media screen and (min-width: $desktop) {
  margin-right: 315px;
  }
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--nav-color);
}

.site-nav__link--current {
  color: var(--nav-color);
}

 @media screen and (min-width: $tablet) {
  .site-nav__link::after {
  position: absolute;
  content: "";
  width: 0;
  height: 4px;
  left: 0;
  bottom: 0;
  margin-bottom: -1px;
  border-radius: 4px;
  background-color: #2196f3;
  
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .site-nav__link--current::after {
  width: 100%;
  } 

.site-nav__link:hover .site-nav__link:after,
.site-nav__link:focus .site-nav__link::after {
  width: 100%;
  }
}

 @media screen and (min-width: $desktop) {
  .site-nav__link::after {
  position: absolute;
  content: "";
  width: 0;
  height: 4px;
  left: 0;
  bottom: 0;
  margin-bottom: -1px;
  border-radius: 4px;
  background-color: #2196f3;
  
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .site-nav__link--current::after {
  width: 100%;
  } 

.site-nav__link:hover .site-nav__link:after,
.site-nav__link:focus .site-nav__link::after {
  width: 100%;
  }
}

.auth-nav {
  @media screen and (max-width: $pretablet) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 64px;
  }

  @media screen and (min-width: $tablet) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  }

  @media screen and (min-width: $desktop) {
  display: flex;
  align-items: center;
  flex-direction: row;
  }
}

.auth-nav__item {
  @media screen and (max-width: $pretablet) {
  padding: 0;
  margin-right: 0;
  }

  @media screen and (min-width: $tablet) {
  @include font-style(var(--main-font), 500, 12px, 1.17, 0.02em);  
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  }

  @media screen and (min-width: $desktop) {
  @include font-style(var(--main-font), 500, 14px, 1.14, 0.02em);  
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-color);
  }

  &:first-child {
  @media screen and (min-width: $tablet) {
   padding-top: 21px; 
  }

  @media screen and (min-width: $desktop) {
  padding-top: 32px; 
  }
}

  &:last-child {
  @media screen and (min-width: $tablet) {
   padding-bottom: 21px; 
  }

  @media screen and (min-width: $desktop) {
  padding-bottom: 32px; 
  }
}

  &:not(:last-child) {
  @media screen and (max-width: $pretablet) {
  margin-right: 0;
  }  

  @media screen and (min-width: $tablet) {
  margin-bottom: 10px;
  }

  @media screen and (min-width: $desktop) {
  margin-right: 30px;
  margin-bottom: 0;
  }
  }
}

.auth-nav__link {
  @media screen and (max-width: $pretablet) {
  display: flex;
  justify-content: center;
  align-items: center;
  }

  @media screen and (min-width: $tablet) {
  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (min-width: $desktop) {
  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
} 

.auth-nav__link:hover,
.auth-nav__link:focus {
  color: var(--nav-color);
  fill: var(--nav-color);
  }

  @media screen and (max-width: $pretablet) {
  .auth-nav__item:first-child {
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  color: var(--nav-color);
}
}

  @media screen and (max-width: $pretablet) {
  .auth-nav__item:last-child {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: var(--secondary-color);
  }
  }

.auth-nav__icon {
  @media screen and (max-width: $pretablet) {
    display: none;
}

  @media screen and (min-width: $tablet) {
  margin-right: 10px;
  padding: 0;
  fill: currentColor;
  }

  @media screen and (min-width: $desktop) {
  margin-right: 10px;
  padding: 0;
  fill: currentColor;
  }
}