.logo {
  color: var(--logo-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  @media screen and (max-width: 767px) {
  font-size: 24px;
  line-height: 1.17;
  }
}

.logo__accent {
  color: var(--nav-color);
}

.logo__header {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;

  @media screen and (max-width: $tablet) {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 0;
  }
}

.logo__footer  {
  color: var(--accent-color);  
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}