.logo {
  color: var(--logo-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__accent {
  color: var(--nav-color);
}

.logo__header {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo__footer {
  color: var(--accent-color);  
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
