.header__mobile {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;

    @media screen and (min-width: 768px) {
    display: none;
    padding: 0;
    margin: 0;
    }
}

.header__btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 40px;
    border: none;
    background-color: #fff;
    z-index: 1;

    .menu-btn__close {
    display: none;
    }

    &.is-open {
    .menu-btn__menu {
    display: none;
    }
    .menu-btn__close {
    display: block;
    }
  }
} 

.mobile-menu {
    display: none;

    &.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 480px;
    height: 796px;
    background-color: #fff;
    padding: 48px 40px;
    }
}

.header__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header__list {
    display: flex;
    align-items: center;
    
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--nav-color);
}

.header__item {
    position: relative;
}

.header__item:not(:last-child) {
    margin-right: 20px;
}

.header__item:not(:last-child):after {
  position: absolute;
  bottom: 50%;
  content: "";
  width: 22px;
  height: 1px;

  background-color:  rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}