:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-color: #212121;
  --secondary-color: #757575;
  --third-color: #F5F4FA;
  --fourth-color: #F5F5F5;;
  --accent-color: #ffffff;
  --adress-color: rgba(255, 255, 255, 0.6);
  --nav-color: #2196f3;
  --logo-color: #000000;
  --icons-color: #AFB1B8;
}

$mobile: 480.98px;
$tablet: 768.98px;
$desktop: 1200.98px;